body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6;
    /* Cor de creme de morango */
    color: #ff66b2;
    /* Rosa */
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff66b2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 2em;
}

.confirmation {
    text-align: center;
    padding: 50px 0;
}

.confirmation h2 {
    font-size: 2em;
}

.total {
    font-size: 1.5em;
    font-weight: bold;
}

.payment-options {
    text-align: center;
    padding: 20px 0;
}

.payment-options a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    background-color: #ff66b2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.payment-info {
    display: none;
    padding: 20px;
    background-color: #fff;
}

.show-info {
    display: block;
}

input[type="text"],
button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #ff66b2;
    color: #fff;
    cursor: pointer;
}